@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Big+Shoulders+Display:wght@600&family=Josefin+Sans:wght@400;600&family=Karla:wght@500&family=Kumbh+Sans:wght@500;600&family=Lexend:wght@500&family=Open+Sans:wght@600&family=Outfit:wght@400;500&family=Overpass:wght@500;600&family=Poppins:wght@500;600&family=Roboto:wght@500&family=Rubik&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --VeryMediumGrey: hsl(218, 10%, 22%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--VeryDarkBlue);
  overflow: hidden;
}

.card {
  max-width: 350px;
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--DarkBlue);
  color: #fff;
}

.card .card__img img {
  background-color: var(--VeryMediumGrey);
  padding: 1rem;
  border-radius: 50%;
}

.card .card__header {
  font-family: 'Overpass', sans-serif;
}

.card .question__area {
  font-family: 'Overpass', sans-serif;
  line-height: 1.6;
  opacity: 0.6;
}

.card .rating__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.card .rating__area span {
  background-color: var(--VeryMediumGrey);
  padding: 1rem 1.3rem;
  border-radius: 50%;
  font-family: 'Overpass', sans-serif;
  cursor: pointer;
}

.card .rating__area span:hover {
  background-color: #d15629;
}

.card .rating__area .span__color {
  background-color: #d15629;
}

.card .submit__area {
  text-align: center;
  padding: 0.7rem 0;
  margin: 1rem 0;
  background-color: #d15629;
  border-radius: 30px;
  cursor: pointer;
}

.card .submit__area a {
  text-decoration: none;
  color: white;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 2px;
}

@media (max-width: 350px) {
  .card__header {
    font-size: 0.9rem;
    font-family: 'Overpass', sans-serif;
  }
  .question__area {
    font-family: 'Overpass', sans-serif;
    line-height: 1.6;
    opacity: 0.6;
    font-size: 0.8rem;
  }
  .rating__area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .rating__area span {
    background-color: var(--VeryMediumGrey);
    padding: 1rem 1.3rem;
    border-radius: 50%;
    font-size: 0.8rem;
    font-family: 'Overpass', sans-serif;
    cursor: pointer;
  }
  .rating__area span:hover {
    background-color: #d15629;
  }
  .rating__area .span__color {
    background-color: #d15629;
  }
  .submit__area {
    text-align: center;
    padding: 0.7rem 0;
    margin: 1rem 0;
    background-color: #d15629;
    border-radius: 30px;
    cursor: pointer;
  }
  .submit__area a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
}
